body{
	
}

header, section, footer{
	max-width:800px;
	margin:auto;
}

header{
	margin-top:1em;
}

#search-section{

	input{
		font-size:2em;
		padding:0.2em;
		width:75%;
		border:1px solid #1365A7;
	}

	label{
		display:none;
	}

	#search-button{
		width:22%;
		background-color:#1365A7;
		color: white;
	}

	margin-bottom:1em;
}

footer{
	border-top:1px solid grey;
	margin-top:1em;
	padding:1em 0;
}

.ui-autocomplete{
	background:white;
	width:300px;
	font-size:2em;
	border:1px solid #1365A7;

	li{
		padding: 10px 5px;
	}

	li:hover{
		color:#1365A7;
	}
}

